.bg {
  background-image: url("../../../public/nbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.bg_top {
  background-image: url("../../../public/bg-3.png");
  background-size: auto 100%;
  width: 100vw;
  height: 3%;
  position: absolute;
  top: 12%;
}
.bg_bottom {
  background-image: url("../../../public/bg-3.png");
  background-size: auto 100%;
  width: 100vw;
  height: 3%;
  position: absolute;
  top: 90%
}
.content {
  position: absolute;
  top: 13%;
  .task_group {
    display: flex;
    position: relative;
    width: 100vw;
    height: 75%;
    .task_list {
      background: #d7d1b8;
      width: 50%;
      height: 70%;
    }
    .task_content {
      background: #d7d1b8;
      width: 50%;
      height: 70%;
    }
  }
}